<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div class="main-content" layout:fragment="siteContent">
    <div class="page-content">

        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">Add User</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a
                                                href="../../../../../../Desktop/Jobcy/HTML/dist/index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Add User</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Add User</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->


        <!-- START JOBS-POST-EDIT -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bg-soft-primary p-3">
                            <h5 class="mb-0 fs-17 text-center">Add a New User!</h5>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <form action="#" class="job-post-form shadow mt-4">
                    <input type="hidden" th:value="${#authentication.principal.id}" id="postJobUserId">
                    <div class="job-post-content box-shadow-md rounded-3 p-4">
                        <div class="row">
                            <div id="addUserAlert"></div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="addUserFirstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="addUserFirstName" placeholder="">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="addUserLastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="addUserLastName" placeholder="">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="addUserEmail" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="addUserEmail" placeholder="">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="addUserRoles" class="form-label">Role</label>
                                    <select class="form-select" data-trigger="" name="choices-single-categories"
                                            id="addUserRoles" aria-label="Default select example">
                                        <option value="ROLE_USER">User</option>
                                        <option value="ROLE_EMPLOYER">Employer</option>
                                        <option value="ROLE_ADMIN">Admin</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="addUserPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="addUserPassword" placeholder="">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="addUserConfirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="addUserConfirmPassword" placeholder="">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="text-end">
                                    <button type="button" class="btn btn-primary" onclick="addUser()"> Add Now <i
                                            class="mdi mdi-send"></i></button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end add-user-content-->
                </form>
            </div><!--end container-->
        </section>
        <!-- END ADD-USER -->

    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
</html>
<script src="/js/pages/add-user.js"></script>