<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div class="main-content" layout:fragment="siteContent">
    <div class="page-content">
        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">Company Details</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a
                                                href="../../../../../../Desktop/Jobcy/HTML/dist/index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Company Details</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"> Company Details</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->


        <!-- START CANDIDATE-DETAILS -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card side-bar">
                            <div class="card-body p-4">
                                <input type="hidden" th:value="${#authentication.principal.id}"
                                       id="companyDetailsUserId">
                                <input type="hidden" th:value="${id}"
                                       id="companyDetailsCompanyId">
                                <div class="candidate-profile text-center">
                                    <img src="/images/featured-job/img-01.png" alt=""
                                         class="avatar-lg rounded-circle" id="overviewCompanyDetailsImg">
                                    <h6 class="fs-18 mb-1 mt-4" id="overviewCompanyDetailsName"></h6>
                                    <p class="text-muted mb-4" id="overviewCompanyDetailsEstablishedDate"></p>
                                    <ul class="candidate-detail-social-menu list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="social-link btn-soft-primary"
                                               id="overviewCompanyDetailsLinkedinLink"><i
                                                    class="uil uil-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="social-link btn-soft-success"
                                               id="overviewCompanyDetailsWhatsappLink"><i
                                                    class="uil uil-whatsapp"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--end candidate-profile-->

                            <div class="candidate-profile-overview  card-body border-top p-4">
                                <h6 class="fs-17 fw-medium mb-3">Profile Overview</h6>
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">CEO</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyDetailsOwnerName"></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Employees</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyDetailsEmployeesNumber"></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Location</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyDetailsLocation"></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Website</label>
                                            <div>
                                                <a href="#" class="text-muted text-break mb-0"
                                                   id="overviewCompanyDetailsWebsite"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Established</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyDetailsEstablishedDate2"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="mt-3">
                                    <a href="javascript:void(0)" class="btn btn-danger btn-hover w-100"
                                       id="companyDetailsContactLink"><i
                                            class="uil uil-phone"></i> Contact</a>
                                </div>
                            </div><!--candidate-profile-overview-->
                        </div><!--end card-->
                    </div><!--end col-->
                    <div class="col-lg-8">
                        <div class="card ms-lg-4 mt-4 mt-lg-0">
                            <div class="card-body p-4">

                                <div class="mb-5">
                                    <h6 class="fs-17 fw-medium mb-4">About Company</h6>
                                    <p class="text-muted" id="overviewDetailsAboutCompany"></p>
                                </div>
                            </div><!-- card body end -->
                        </div><!--end card-->
                    </div><!--end col-->
                    <div class="col-lg-12 mx-auto mt-4">
                        <div class="card mt-4 mt-lg-0">
                            <div class="card-body p-4">
                                <div>
                                    <h5 class="fs-17 fw-medium mb-4 text-center">Current Opening</h5>
                                    <div class="d-grid" style="grid-template-columns: 1fr 1fr; gap: 24px"
                                         id="companyDetailsOpenJobList">
                                    </div>
                                </div>
                            </div><!-- card body end -->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- END CANDIDATE-DETAILS -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
</html>
<script src="/js/pages/company-details.js"></script>
