<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div class="main-content" layout:fragment="siteContent">
    <div class="page-content">
        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">Company Profile</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a
                                                href="../../../../../../Desktop/Jobcy/HTML/dist/index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Company Profile</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"> Company Profile</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->


        <!-- START CANDIDATE-DETAILS -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card side-bar">
                            <div class="card-body p-4">
                                <input type="hidden" th:value="${#authentication.principal.id}"
                                       id="companyProfileUserId">
                                <div class="candidate-profile text-center">
                                    <img src="/images/featured-job/img-01.png" alt=""
                                         class="avatar-lg rounded-circle" id="overviewCompanyImg">
                                    <h6 class="fs-18 mb-1 mt-4" id="overviewCompanyName"></h6>
                                    <p class="text-muted mb-4" id="overviewCompanyEstablishedDate"></p>
                                    <ul class="candidate-detail-social-menu list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="social-link btn-soft-primary"
                                               id="overviewCompanyLinkedinLink"><i
                                                    class="uil uil-linkedin"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="social-link btn-soft-success"
                                               id="overviewCompanyWhatsappLink"><i
                                                    class="uil uil-whatsapp"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--end candidate-profile-->

                            <div class="candidate-profile-overview  card-body border-top p-4">
                                <h6 class="fs-17 fw-medium mb-3">Profile Overview</h6>
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Owner Name</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyOwnerName"></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Employees</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyEmployeesNumber"></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Location</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyLocation"></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Website</label>
                                            <div>
                                                <a href="#" class="text-muted text-break mb-0"
                                                   id="overviewCompanyWebsite"></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex">
                                            <label class="text-dark">Established</label>
                                            <div>
                                                <p class="text-muted mb-0" id="overviewCompanyEstablishedDate2"></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="mt-3">
                                    <a href="javascript:void(0)" class="btn btn-danger btn-hover w-100"
                                       id="companyContactLink"><i
                                            class="uil uil-phone"></i> Contact</a>
                                </div>
                            </div><!--candidate-profile-overview-->
                        </div><!--end card-->
                    </div><!--end col-->
                    <div class="col-lg-8">
                        <div class="card profile-content-page mt-4 mt-lg-0">
                            <ul class="profile-content-nav nav nav-pills border-bottom mb-4" id="pills-tab"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="overview-tab" data-bs-toggle="pill"
                                            data-bs-target="#overview" type="button" role="tab"
                                            aria-controls="overview"
                                            aria-selected="true">
                                        Overview
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="pill"
                                            data-bs-target="#profile" type="button" role="tab"
                                            aria-controls="profile"
                                            aria-selected="false">
                                        Company Profile
                                    </button>
                                </li>
                            </ul>
                            <!--end profile-content-nav-->
                            <div class="card-body p-4">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                         aria-labelledby="overview-tab">
                                        <div>
                                            <h5 class="fs-18 fw-bold">About Company</h5>
                                            <p class="text-muted mt-4" id="overviewAboutCompany">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                         aria-labelledby="profile-tab-tab">
                                        <form action="#">
                                            <div>
                                                <div id="companyAlert"></div>
                                                <div class="text-center">
                                                    <div class="mb-4 profile-user">
                                                        <img src="/images/user/img-02.jpg"
                                                             class="rounded-circle img-thumbnail profile-img"
                                                             id="companyImg" alt="">
                                                        <div class="p-0 rounded-circle profile-photo-edit">
                                                            <input id="companyImgInput" type="file"
                                                                   class="profile-img-file-input">
                                                            <label for="companyImgInput"
                                                                   class="profile-photo-edit avatar-xs">
                                                                <i class="uil uil-edit"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="companyNameInput"
                                                                   class="form-label">Company Name</label>
                                                            <input type="text" class="form-control"
                                                                   id="companyNameInput"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="ownerNameInput"
                                                                   class="form-label">Owner Name</label>
                                                            <input type="text" class="form-control" id="ownerNameInput"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="establishedDateInput"
                                                                   class="form-label">Established Date</label>
                                                            <input type="date" class="form-control"
                                                                   id="establishedDateInput"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->

                                            </div>
                                            <!--end account-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-semibold mb-3">Profile</h5>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="companyDescriptionInput"
                                                                   class="form-label">Introduce Your Company</label>
                                                            <textarea class="form-control"
                                                                      id="companyDescriptionInput"
                                                                      rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="employeesNumberInput"
                                                                   class="form-label">Employees Number</label>
                                                            <input type="number" class="form-control"
                                                                   id="employeesNumberInput"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="companyLocationInput"
                                                                   class="form-label">Location</label>
                                                            <select class="form-select" data-trigger
                                                                    name="choices-single-location"
                                                                    id="companyLocationInput"
                                                                    aria-label="Default select exam
                                                                            ple">
                                                                <option value="Almaty">Almaty</option>
                                                                <option value="Astana">Astana</option>
                                                                <option value="Aktau">Aktau</option>
                                                                <option value="Atyrau">Atyrau</option>
                                                                <option value="Shymkent">Shymkent</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end profile-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-semibold mb-3">Social Media</h5>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="companyWebsiteInput"
                                                                   class="form-label">Website</label>
                                                            <input type="text" class="form-control"
                                                                   id="companyWebsiteInput"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="companyLinkedinInput"
                                                                   class="form-label">Linkedin</label>
                                                            <input type="text" class="form-control"
                                                                   id="companyLinkedinInput"
                                                                   placeholder="https://www.linkedin.com"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="companyWhatsappInput"
                                                                   class="form-label">Whatsapp</label>
                                                            <input type="text" class="form-control"
                                                                   id="companyWhatsappInput"
                                                                   placeholder="https://www.whatsapp.com"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end social-media-->
                                            <div class="mt-4 text-end">
                                                <button type="button" class="btn btn-primary" onclick="saveCompany()">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                        <!--end form-->
                                    </div>
                                </div>
                                <!--end tab-content-->
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end profile-content-page-->
                    </div>
                    <!--end col-->
                    <div class="col-lg-12 mx-auto mt-4">
                        <div class="card mt-4 mt-lg-0">
                            <div class="card-body p-4">
                                <div>
                                    <h5 class="fs-17 fw-medium mb-4 text-center">Current Opening</h5>
                                    <div class="d-grid" style="grid-template-columns: 1fr 1fr; gap: 24px"
                                         id="companyOpenJobList">
                                    </div>
                                </div>
                            </div><!-- card body end -->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- END CANDIDATE-DETAILS -->

        <!-- START APPLY MODAL -->
        <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-5">
                        <div class="text-center mb-4">
                            <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
                        </div>
                        <div class="position-absolute end-0 top-0 p-3">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="mb-3">
                            <label for="nameFormControlInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="nameFormControlInput"
                                   placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="emailFormControlInput" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="emailFormControlInput"
                                   placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                                      placeholder="Enter your message"></textarea>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="inputGroupFile01">Resume Upload</label>
                            <input type="file" class="form-control" id="inputGroupFile01">
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Send Application</button>
                    </div>
                </div>
            </div>
        </div><!-- END APPLY MODAL -->

    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
</html>
<script src="/js/pages/company-profile.js"></script>
