<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div class="main-content" layout:fragment="siteContent">
    <div class="page-content">
        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">Company List</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a
                                                href="../../../../../../Desktop/Jobcy/HTML/dist/index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Pages</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"> Company List</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->


        <!-- START COMPANY-LIST -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="candidate-list-widgets mb-4">
                            <form action="#">
                                <div class="row g-2 justify-content-center">
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-briefcase-alt"></i>
                                            <input type="search" class="form-control filter-job-input-box"
                                                   id="companyListName" placeholder="Company name... ">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-3">
                                        <div class="filler-job-form">
                                            <i class="uil uil-location-point"></i>
                                            <select class="form-select" data-trigger name="choices-single-location"
                                                    id="companyListLocation" aria-label="Default select example"
                                                    style="padding-left: 40px">
                                                <option value="all">Location</option>
                                                <option value="Almaty">Almaty</option>
                                                <option value="Astana">Astana</option>
                                                <option value="Aktau">Aktau</option>
                                                <option value="Atyrau">Atyrau</option>
                                                <option value="Shymkent">Shymkent</option>
                                            </select>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-lg-2">
                                        <div>
                                            <button type="button" class="btn btn-primary" onclick="filterCompanies()">
                                                <i class="uil uil-filter"></i> Filter
                                            </button>
                                        </div>
                                    </div>
                                </div><!--end row-->
                            </form><!--end form-->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row align-items-center mb-4">
                    <div class="col-lg-10">
                        <div class="mb-3 mb-lg-0">
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-2">
                        <div class="candidate-list-widgets">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="selection-widget">
                                        <select class="form-select" data-trigger name="choices-single-filter-orderby"
                                                id="companyListSortOrder" aria-label="Default select example"
                                                onchange="filterCompanies()">
                                            <option value="df">Default</option>
                                            <option value="ne">Newest</option>
                                            <option value="od">Oldest</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div><!--end candidate-list-widgets-->
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row" id="companyList">
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-12 mt-5">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination job-pagination mb-0 justify-content-center" id="companyListPagination">
                            </ul>
                        </nav>
                    </div><!--end col-->
                </div><!-- end row -->
            </div><!--end container-->
        </section>
        <!-- END COMPANY-LIST -->

    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
</html>
<script src="/js/pages/company-list.js"></script>