<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="auth_layout.html">

<div class="col-6 mx-auto mt-5" layout:fragment="siteAuth">
    <h6 class="text-center" style="font-weight: 600">2/2</h6>
    <h4 class="text-center" style="font-weight: 600">Регистрация</h4>
    <h5 class="text-center" style="font-weight: 600">Компании</h5>
    <div th:if="${param.emailerror}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Email</strong> already exists!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div th:if="${param.passworderror}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Passwords</strong> are not same!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <form th:action="@{'/auth/signup/company'}" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="inputFirstName" class="ms-2">Название</label>
            <input type="text" class="form-control" id="inputFirstName" aria-describedby="emailHelp"
                   name="name" placeholder="Введите название компании" required>
        </div>
        <div class="form-group mt-3">
            <label for="inputLastName" class="ms-2">Локация</label>
            <input type="text" class="form-control" id="inputLastName" aria-describedby="emailHelp"
                   name="location" placeholder="Введите локацию" required>
        </div>
        <div class="form-group mt-3">
            <label for="inputEmail1" class="ms-2">Email</label>
            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp"
                   name="email" placeholder="Введите email" required>
        </div>
        <div class="form-group mt-3">
            <label for="inputPassword1" class="ms-2">Логотип компании</label>
            <input type="file" class="form-control-file" id="inputPassword1" name="image"
                   required>
        </div>
        <button type="submit" class="btn btn-primary mt-3" style="width: 100%">Продолжить</button>
    </form>
</div>
</html>