<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div class="main-content" layout:fragment="siteContent">
    <div class="page-content">

        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">Edit Job</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a
                                                href="../../../../../../Desktop/Jobcy/HTML/dist/index.html">Manage Jobs</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Edit Job</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Edit Job</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->


        <!-- START JOBS-POST-EDIT -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bg-soft-primary p-3">
                            <h5 class="mb-0 fs-17 text-center">Edit Job</h5>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <form action="#" class="job-post-form shadow mt-4">
                    <input type="hidden" th:value="${id}" id="editJobId">
                    <div class="job-post-content box-shadow-md rounded-3 p-4">
                        <div class="row">
                            <div id="editJobAlert"></div>
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="editJobTitle" class="form-label">Job Title</label>
                                    <input type="text" class="form-control" id="editJobTitle" placeholder="Title">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="editJobDescription" class="form-label">Job Description</label>
                                    <textarea class="form-control" id="editJobDescription" rows="3"
                                              placeholder="Enter Job Description"></textarea>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="editJobCategories" class="form-label">Categories</label>
                                    <select class="form-select" data-trigger="" name="choices-single-categories"
                                            id="editJobCategories" aria-label="Default select example">
                                        <option value="Digital & Creative">Digital & Creative</option>
                                        <option value="Retail">Retail</option>
                                        <option value="Management">Management</option>
                                        <option value="Human Resources">Human Resources</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="IT & Software">IT & Software</option>
                                        <option value="Marketing">Marketing</option>
                                        <option value="Banking">Banking</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="editJobType" class="form-label">Job Type</label>
                                    <select class="form-select" data-trigger="" name="choices-single-categories"
                                            id="editJobType" aria-label="Default select example">
                                        <option value="FREELANCE">Freelance</option>
                                        <option value="INTERNSHIP">Internship</option>
                                        <option value="FULL_TIME">Full Time</option>
                                        <option value="PART_TIME">Part Time</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="editJobPosition" class="form-label">Position</label>
                                    <select class="form-select" data-trigger="" name="postJobPosition"
                                            id="editJobPosition" aria-label="Default select example">
                                        <option value="Trainee">Trainee</option>
                                        <option value="Junior">Junior</option>
                                        <option value="Middle">Middle</option>
                                        <option value="Senior">Senior</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="editJobOfferedSalary" class="form-label">Offered Salary($)</label>
                                    <input type="number" class="form-control" id="editJobOfferedSalary"
                                           placeholder="Salary">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="editJobQualification" class="form-label">Qualification</label>
                                    <select class="form-select" data-trigger="" name="choices-single-categories"
                                            id="editJobQualification" aria-label="Default select example">
                                        <option value="Trainee">No Qualification</option>
                                        <option value="Junior">Bachelor</option>
                                        <option value="Middle">Master</option>
                                        <option value="Senior">PhD</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="editJobCity" class="form-label">City</label>
                                    <select class="form-select" data-trigger
                                            name="choices-single-location"
                                            id="editJobCity"
                                            aria-label="Default select example">
                                        <option value="Almaty">Almaty</option>
                                        <option value="Astana">Astana</option>
                                        <option value="Aktau">Aktau</option>
                                        <option value="Atyrau">Atyrau</option>
                                        <option value="Shymkent">Shymkent</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label for="editJobExperience" class="form-label">Experience</label>
                                    <select class="form-select" data-trigger="" name="choices-single-categories"
                                            id="editJobExperience" aria-label="Default select example">
                                        <option value="No Experience">No Experience</option>
                                        <option value="from 1 to 3 years">from 1 to 3 years</option>
                                        <option value="from 3 to 6 years">from 3 to 6 years</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="editJobResponsibilities" class="form-label">Responsibilities</label>
                                    <textarea class="form-control" id="editJobResponsibilities" rows="3"
                                              placeholder="Developing microservice architecture; Working with non-relational databases; ..."></textarea>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="editJobRequiredSkills" class="form-label">Required Skills</label>
                                    <textarea class="form-control" id="editJobRequiredSkills" rows="3"
                                              placeholder="Basic OOP knowledge; SQL; ..."></textarea>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="mb-4">
                                    <label for="editJobKeySkills" class="form-label">Key Skills</label>
                                    <input type="text" class="form-control" id="editJobKeySkills"
                                           placeholder="Java, MySQL, SQL ...">
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="text-end">
                                    <button type="button" class="btn btn-primary" onclick="updateJob()">Update <i
                                            class="mdi mdi-send"></i></button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end job-post-content-->
                </form>
            </div><!--end container-->
        </section>
        <!-- END JOBS-POST-EDIT -->

    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
</html>
<script src="/js/pages/edit-job.js"></script>