<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div class="main-content" layout:fragment="siteContent">
    <div class="page-content">
        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">Employer Profile</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a
                                                href="../../../../../../Desktop/Jobcy/HTML/dist/index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">Employer Profile</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"> Employer Profile</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->


        <!-- START PROFILE -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card profile-sidebar me-lg-4">
                            <div class="card-body p-4">
                                <input type="hidden" th:value="${#authentication.principal.id}" id="userId">
                                <div class="text-center pb-4 border-bottom">
                                    <h5 class="mb-0" id="overviewEmployerFullName"></h5>
                                </div>
                                <!--end profile-->
                                <div class="mt-4">
                                    <h5 class="fs-17 fw-bold mb-3">Contacts</h5>
                                    <div class="profile-contact">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <div class="d-flex">
                                                    <label>Email</label>
                                                    <div>
                                                        <p class="text-muted text-break mb-0"
                                                           id="overviewEmployerEmail">
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--end contact-details-->
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end profile-sidebar-->
                    </div>
                    <!--end col-->
                    <div class="col-lg-8">
                        <div class="card profile-content-page mt-4 mt-lg-0">
                            <ul class="profile-content-nav nav nav-pills border-bottom mb-4" id="pills-tab"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="settings-tab" data-bs-toggle="pill"
                                            data-bs-target="#settings" type="button" role="tab"
                                            aria-controls="settings"
                                            aria-selected="true">
                                        Personal Data
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="password-tab" data-bs-toggle="pill"
                                            data-bs-target="#change-password" type="button" role="tab"
                                            aria-controls="change-password"
                                            aria-selected="false">
                                        Change Password
                                    </button>
                                </li>
                            </ul>
                            <!--end profile-content-nav-->
                            <div class="card-body p-4">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="settings" role="tabpanel"
                                         aria-labelledby="settings-tab">
                                        <form action="#">
                                            <div>
                                                <h5 class="fs-17 fw-semibold mb-3 mb-0">My Account</h5>
                                                <div id="employerDataAlert"></div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="firstNameInput" class="form-label">First
                                                                Name</label>
                                                            <input type="text" class="form-control" id="firstNameInput"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="lastNameInput" class="form-label">Last
                                                                Name</label>
                                                            <input type="text" class="form-control" id="lastNameInput"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="employerEmailInput" class="form-label">Email</label>
                                                            <input type="text" class="form-control"
                                                                   id="employerEmailInput"
                                                                   value="" readonly/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end account-->
                                            <div class="mt-4 text-end">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="updatePersonalData()">Update
                                                </button>
                                            </div>
                                        </form>
                                        <!--end form-->
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane fade" id="change-password" role="tabpanel"
                                         aria-labelledby="password-tab">
                                        <form action="#">
                                            <div>
                                                <h5 class="fs-17 fw-semibold mb-3 mb-3">
                                                    Change Password
                                                </h5>
                                                <div id="employerPasswordAlert"></div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="employerCurrentPasswordInput" class="form-label">Current
                                                                password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Enter Current password"
                                                                   id="employerCurrentPasswordInput"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="employerNewPasswordInput" class="form-label">New
                                                                password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Enter new password"
                                                                   id="employerNewPasswordInput"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="employerConfirmPasswordInput" class="form-label">Confirm
                                                                Password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Confirm Password"
                                                                   id="employerConfirmPasswordInput"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end Change-password-->
                                            <div class="mt-4 text-end">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="updatePassword()">Update
                                                </button>
                                            </div>
                                        </form>
                                        <!--end form-->
                                    </div>
                                    <!--end tab content-->
                                </div>
                                <!--end tab-content-->
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end profile-content-page-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- END PROFILE -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
</html>
<script src="/js/pages/employer-profile.js"></script>