<meta charset="utf-8"/>
<title>Jobcy - Recruiting Service</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content=" "/>
<meta name="keywords" content=""/>
<meta content="Themesdesign" name="author"/>

<!-- App favicon -->
<link rel="shortcut icon" href="/images/favicon.ico">

<!-- Choice Css -->
<link rel="stylesheet" href="/libs/choices.js/public/assets/styles/choices.min.css">

<!-- Swiper Css -->
<link rel="stylesheet" href="/libs/swiper/swiper-bundle.min.css">

<!-- Bootstrap Css -->
<link href="/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
<!-- Icons Css -->
<link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
<!-- App Css-->
<link href="/css/app.min.css" id="app-style" rel="stylesheet" type="text/css"/>
<!--Custom Css-->