<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="~{header.html}">
</head>
<body>

<div th:insert="~{navbar.html}"></div>

<div layout:fragment="siteContent"></div>

<div th:insert="~{footer.html}"></div>

<!-- JAVASCRIPT -->
<script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="/libs/choices.js/public/assets/scripts/choices.min.js"></script>

<!-- Swiper Js -->
<script src="/libs/swiper/swiper-bundle.min.js"></script>

<!-- Job-list Init Js -->
<script src="/js/pages/job-list.init.js"></script>

<!-- Switcher Js -->
<script src="/js/pages/switcher.init.js"></script>

<script src="/js/pages/index.init.js"></script>

<script src="/js/app.js"></script>

<script src="/js/pages/navbar.js"></script>
</body>

</html>