<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--start page Loader -->
<div id="preloader">
    <div id="status">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!--end page Loader -->

<!-- Begin page -->
<div>
    <!-- START TOP-BAR -->
    <div class="top-bar">
        <div class="container-fluid custom-container">
            <div class="row g-0 align-items-center">
                <div class="col-md-7">
                    <ul class="list-inline mb-0 text-center text-md-start">
                        <li class="list-inline-item">
                            <ul class="topbar-social-menu list-inline mb-0">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-facebook-messenger-alt"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-envelope"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="social-link"><i
                                        class="uil uil-twitter-alt"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--end col-->
                <div class="col-md-5">
                    <ul class="list-inline mb-0 text-center text-md-end">
                        <li class="list-inline-item align-middle">
                            <div class="dropdown d-inline-block language-switch">
                                <button type="button" class="btn" data-bs-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    <img id="header-lang-img" src="/images/flags/us.jpg" alt="Header Language"
                                         height="16"/>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item language"
                                       data-lang="eng">
                                        <img src="/images/flags/us.jpg" alt="user-image" class="me-1" height="12"/>
                                        <span class="align-middle">English</span>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item language"
                                       data-lang="sp">
                                        <img src="/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"/>
                                        <span class="align-middle">Spanish</span>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item language"
                                       data-lang="gr">
                                        <img src="/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"/>
                                        <span class="align-middle">German</span>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item language"
                                       data-lang="it">
                                        <img src="/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"/>
                                        <span class="align-middle">Italian</span>
                                    </a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item language"
                                       data-lang="ru">
                                        <img src="/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"/>
                                        <span class="align-middle">Russian</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!-- END TOP-BAR -->

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand text-dark fw-bold me-auto"
               th:href="@{/}">
                <img src="/images/logo-dark.png" height="22" alt="" class="logo-dark"/>
                <img src="/images/logo-light.png" height="22" alt="" class="logo-light"/>
            </a>
            <div>
                <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto navbar-center">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/job-list}" class="nav-link">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/company-list}" class="nav-link">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/blog-list}" class="nav-link">Blog</a>
                    </li>
                </ul><!--end navbar-nav-->
            </div>
            <!--end navabar-collapse-->
            <ul class="header-menu list-inline d-flex align-items-center mb-0">
                <li class="list-inline-item" sec:authorize="isAnonymous()">
                    <a th:href="@{/auth/signin/user}" style="font-size: 16px; font-weight: 600">Sign in</a>
                </li>
                <li class="list-inline-item dropdown" sec:authorize="isAuthenticated()">
                    <input type="hidden" th:value="${#authentication.principal.id}" id="navbarUserId">
                    <a href="javascript:void(0)" class="header-item" id="userdropdown" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="/images/profile.jpg" alt="mdo" width="35" height="35" class="rounded-circle me-1"
                             sec:authorize="hasAnyRole('ROLE_USER')" id="navbarUserImage">
                        <span class="d-none d-md-inline-block fs-17 fw-bold" style="color: #6055f2"
                              id="navbarUsersFirstName"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userdropdown">
                        <li><a class="dropdown-item"
                               th:href="@{/admin-panel}"
                               sec:authorize="hasAnyRole('ROLE_ADMIN')">Admin Panel</a>
                        </li>
                        <li><a class="dropdown-item"
                               th:href="@{/add-user}"
                               sec:authorize="hasAnyRole('ROLE_ADMIN')">Add User</a>
                        </li>
                        <li><a class="dropdown-item"
                               th:href="@{/post-blog}"
                               sec:authorize="hasAnyRole('ROLE_ADMIN')">Post Blog</a>
                        </li>
                        <li><a class="dropdown-item"
                               th:href="@{/favorites}">Bookmarks Jobs</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/manage-jobs}"
                               sec:authorize="hasAnyRole('ROLE_EMPLOYER')">Manage
                                Jobs</a>
                        </li>
                        <li><a class="dropdown-item" th:href="@{/profile}" sec:authorize="hasAnyRole('ROLE_USER')">My
                            Profile</a></li>
                        <li><a class="dropdown-item" th:href="@{/user-applications}"
                               sec:authorize="hasAnyRole('ROLE_USER')">My
                            Applications</a></li>
                        <li><a class="dropdown-item" th:href="@{/employer-profile}"
                               sec:authorize="hasAnyRole('ROLE_EMPLOYER')">Employer
                            Profile</a></li>
                        <li><a class="dropdown-item" th:href="@{/company-profile}"
                               sec:authorize="hasAnyRole('ROLE_EMPLOYER')">Company
                            Profile</a></li>
                        <li><a class="dropdown-item" th:href="@{/post-job}" sec:authorize="hasAnyRole('ROLE_EMPLOYER')">Post
                            Job</a></li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <button class="dropdown-item" th:href="@{/logout}">Logout</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul><!--end header-menu-->
        </div>
        <!--end container-->
    </nav>
    <!-- Navbar End -->
</div>