<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">

<div class="main-content" layout:fragment="siteContent">

    <div class="page-content">

        <!-- Start home -->
        <section class="page-title-box">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center text-white">
                            <h3 class="mb-4">My Profile</h3>
                            <div class="page-next">
                                <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item"><a
                                                href="../../../../../../Desktop/Jobcy/HTML/dist/index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0)">My Profile</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"> My Profile</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- end home -->

        <!-- START SHAPE -->
        <div class="position-relative" style="z-index: 1">
            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                    <path fill="#FFFFFF" fill-opacity="1"
                          d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                </svg>
            </div>
        </div>
        <!-- END SHAPE -->


        <!-- START PROFILE -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card profile-sidebar me-lg-4">
                            <div class="card-body p-4">
                                <div class="text-center pb-4 border-bottom">
                                    <input type="hidden" th:value="${#authentication.principal.id}" id="userId">
                                    <img src="/images/profile.jpg" alt=""
                                         class="avatar-lg img-thumbnail rounded-circle mb-4" id="overviewImg"/>
                                    <h5 class="mb-0" id="overviewFullName"
                                    ></h5>
                                    <p class="text-muted" id="overviewCategory"></p>
                                    <ul class="candidate-detail-social-menu list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)"
                                               class="social-link rounded-3 btn-soft-primary" id="userFacebook"><i
                                                    class="uil uil-facebook-f"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)"
                                               class="social-link rounded-3 btn-soft-info" id="userTelegram"><i
                                                    class="uil uil-telegram-alt"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)"
                                               class="social-link rounded-3 btn-soft-primary" id="userGithub"><i
                                                    class="uil uil-github"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)"
                                               class="social-link rounded-3 btn-soft-info" id="userLinkedin"><i
                                                    class="uil uil-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end profile-->
                                <div class="mt-4">
                                    <h5 class="fs-17 fw-bold mb-3">Contacts</h5>
                                    <div class="profile-contact">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <div class="d-flex">
                                                    <label>Email</label>
                                                    <div>
                                                        <p class="text-muted text-break mb-0" id="contactEmail"
                                                        >
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <label>Phone Number</label>
                                                    <div>
                                                        <p class="text-muted mb-0" id="contactPhone"></p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <label>Location</label>
                                                    <div>
                                                        <p class="text-muted mb-0" id="contactLocation"></p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex">
                                                    <label>Experience</label>
                                                    <div>
                                                        <p class="text-muted mb-0" id="contactExperienceYears"></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--end contact-details-->
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end profile-sidebar-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-8">
                        <div class="card profile-content-page mt-4 mt-lg-0">
                            <ul class="profile-content-nav nav nav-pills border-bottom mb-4" id="pills-tab"
                                role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="overview-tab" data-bs-toggle="pill"
                                            data-bs-target="#overview" type="button" role="tab"
                                            aria-controls="overview"
                                            aria-selected="true">
                                        Overview
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="settings-tab" data-bs-toggle="pill"
                                            data-bs-target="#settings" type="button" role="tab"
                                            aria-controls="settings"
                                            aria-selected="false">
                                        Personal Data
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-bs-toggle="pill"
                                            data-bs-target="#profile" type="button" role="tab"
                                            aria-controls="profile"
                                            aria-selected="false">
                                        Profile
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="password-tab" data-bs-toggle="pill"
                                            data-bs-target="#change-password" type="button" role="tab"
                                            aria-controls="change-password"
                                            aria-selected="false">
                                        Change Password
                                    </button>
                                </li>
                            </ul>
                            <!--end profile-content-nav-->
                            <div class="card-body p-4">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="overview" role="tabpanel"
                                         aria-labelledby="overview-tab">
                                        <div>
                                            <h5 class="fs-18 fw-bold">About me</h5>
                                            <p class="text-muted mt-4" id="overviewAboutUser">
                                            </p>
                                        </div>
                                        <div class="candidate-education-details mt-4">
                                            <h6 class="fs-18 fw-bold mb-0">Education</h6>
                                            <div class="candidate-education-content mt-4 d-flex">
                                                <div class="circle flex-shrink-0 bg-soft-primary mt-1"
                                                     id="overviewUsersDegree">
                                                </div>
                                                <div class="ms-4">
                                                    <h6 class="fs-16 mb-1" id="overviewUsersMajor">
                                                    </h6>
                                                    <p class="mb-2 text-muted" id="overviewUsersUniAndStudyYears">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="fs-18 fw-bold">Experience</h5>
                                            <p class="text-muted mt-4" id="overviewAboutExperience">
                                            </p>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="fs-18 fw-bold">Skills</h5>
                                            <div id="overviewSkills">
                                            </div>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="fs-18 fw-bold">Spoken languages</h5>
                                            <div id="overviewLanguages">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="settings" role="tabpanel"
                                         aria-labelledby="settings-tab">
                                        <form action="#">
                                            <div>
                                                <h5 class="fs-17 fw-semibold mb-3 mb-0">My Account</h5>
                                                <div id="userDataAlert"></div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="firstName" class="form-label">First
                                                                Name</label>
                                                            <input type="text" class="form-control" id="firstName"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="lastName" class="form-label">Last
                                                                Name</label>
                                                            <input type="text" class="form-control" id="lastName"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="email" class="form-label">Email</label>
                                                            <input type="text" class="form-control" id="email"
                                                                   value="" readonly/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end account-->
                                            <div class="mt-4 text-end">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="updatePersonalData()">Update
                                                </button>
                                            </div>
                                        </form>
                                        <!--end form-->
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane fade" id="profile" role="tabpanel"
                                         aria-labelledby="profile-tab-tab">
                                        <form action="#">
                                            <div>
                                                <h5 class="fs-17 fw-semibold mb-3 mb-0">My Profile</h5>
                                                <div id="profileAlert"></div>
                                                <div class="text-center">
                                                    <div class="mb-4 profile-user">
                                                        <img src="/images/user/img-02.jpg"
                                                             class="rounded-circle img-thumbnail profile-img"
                                                             id="profileImg" alt="">
                                                        <div class="p-0 rounded-circle profile-photo-edit">
                                                            <input id="profileImgFile" type="file"
                                                                   class="profile-img-file-input">
                                                            <label for="profileImgFile"
                                                                   class="profile-photo-edit avatar-xs">
                                                                <i class="uil uil-edit"></i>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="profileCategory"
                                                                   class="form-label">Account Type</label>
                                                            <select class="form-select" data-trigger
                                                                    name="choices-single-categories"
                                                                    id="profileCategory"
                                                                    aria-label="Default select example">
                                                                <option value="1">Accounting</option>
                                                                <option value="2">IT & Software</option>
                                                                <option value="3">Marketing</option>
                                                                <option value="4">Banking</option>
                                                                <option value="5">Digital & Creative</option>
                                                                <option value="6">Retail</option>
                                                                <option value="7">Management</option>
                                                                <option value="8">Human Resources</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="profilePhoneNumber"
                                                                   class="form-label">Phone Number</label>
                                                            <input type="text" class="form-control"
                                                                   id="profilePhoneNumber"
                                                                   value="" placeholder="+7 777 777 77 77"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->

                                            </div>
                                            <!--end account-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-semibold mb-3">Profile</h5>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="profileAboutUser"
                                                                   class="form-label">Introduce Yourself</label>
                                                            <textarea class="form-control"
                                                                      id="profileAboutUser"
                                                                      rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="profileLanguages"
                                                                   class="form-label">Languages</label>
                                                            <input type="text" class="form-control"
                                                                   id="profileLanguages"
                                                                   placeholder="English, German, French"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="profileLocation"
                                                                   class="form-label">Location</label>
                                                            <select class="form-select" data-trigger
                                                                    name="choices-single-location"
                                                                    id="profileLocation"
                                                                    aria-label="Default select example">
                                                                <option value="Almaty">Almaty</option>
                                                                <option value="Astana">Astana</option>
                                                                <option value="Aktau">Aktau</option>
                                                                <option value="Atyrau">Atyrau</option>
                                                                <option value="Shymkent">Shymkent</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end profile-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-semibold mb-3">Social Media</h5>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="facebookLink"
                                                                   class="form-label">Facebook</label>
                                                            <input type="text" class="form-control" id="facebookLink"
                                                                   placeholder="https://www.facebook.com"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="telegramLink"
                                                                   class="form-label">Telegram</label>
                                                            <input type="text" class="form-control" id="telegramLink"
                                                                   placeholder="@username"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="linkedinLink"
                                                                   class="form-label">Linkedin</label>
                                                            <input type="text" class="form-control" id="linkedinLink"
                                                                   placeholder="https://www.linkedin.com"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="githubLink"
                                                                   class="form-label">Github</label>
                                                            <input type="text" class="form-control" id="githubLink"
                                                                   placeholder="username"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end social-media-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-semibold mb-3">Skills</h5>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="profileSkills"
                                                                   class="form-label">List your skills</label>
                                                            <textarea class="form-control"
                                                                      id="profileSkills"
                                                                      rows="2"
                                                                      placeholder="Java EE, Java SE"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end skills-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-semibold mb-3">Education</h5>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="eduDegree"
                                                                   class="form-label">Degree</label>
                                                            <select class="form-select" data-trigger
                                                                    name="choices-single-location"
                                                                    id="eduDegree"
                                                                    aria-label="Default select exam
                                                                            ple">
                                                                <option value="Bachelor">Bachelor</option>
                                                                <option value="Master">Master</option>
                                                                <option value="PhD">PhD</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="eduInstitution" class="form-label">Educational
                                                                Institution</label>
                                                            <input type="text" class="form-control"
                                                                   id="eduInstitution"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="eduFaculty"
                                                                   class="form-label">Faculty</label>
                                                            <input type="text" class="form-control" id="eduFaculty"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="eduMajor"
                                                                   class="form-label">Major</label>
                                                            <input type="text" class="form-control" id="eduMajor"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-3">
                                                        <div class="mb-3">
                                                            <label for="yearOfAdmission"
                                                                   class="form-label">Year of admission</label>
                                                            <input type="number" class="form-control"
                                                                   id="yearOfAdmission"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-3">
                                                        <div class="mb-3">
                                                            <label for="yearOfGraduation"
                                                                   class="form-label">Year of graduation</label>
                                                            <input type="number" class="form-control"
                                                                   id="yearOfGraduation"
                                                                   value=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end skills-->
                                            <div class="mt-4">
                                                <h5 class="fs-17 fw-semibold mb-3">Experience</h5>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="profileExperienceYears"
                                                                   class="form-label">Experience in years</label>
                                                            <input type="number" class="form-control"
                                                                   id="profileExperienceYears"
                                                                   placeholder=""/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="profileAboutExperience"
                                                                   class="form-label">Describe your experience</label>
                                                            <textarea class="form-control"
                                                                      id="profileAboutExperience"
                                                                      rows="5"></textarea>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                            </div>
                                            <div class="mt-4 text-end">
                                                <button type="button" class="btn btn-primary" onclick="saveProfile()">
                                                    Update
                                                </button>
                                            </div>
                                        </form>
                                        <!--end form-->
                                    </div>
                                    <div class="tab-pane fade" id="change-password" role="tabpanel"
                                         aria-labelledby="password-tab">
                                        <form action="#">
                                            <div>
                                                <h5 class="fs-17 fw-semibold mb-3 mb-3">
                                                    Change Password
                                                </h5>
                                                <div id="passwordAlert"></div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="mb-3">
                                                            <label for="currentPasswordInput" class="form-label">Current
                                                                password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Enter Current password"
                                                                   id="currentPasswordInput"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="newPasswordInput" class="form-label">New
                                                                password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Enter new password"
                                                                   id="newPasswordInput"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label for="confirmPasswordInput" class="form-label">Confirm
                                                                Password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Confirm Password"
                                                                   id="confirmPasswordInput"/>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end Change-password-->
                                            <div class="mt-4 text-end">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="updatePassword()">Update
                                                </button>
                                            </div>
                                        </form>
                                        <!--end form-->
                                    </div>
                                    <!--end tab content-->
                                </div>
                                <!--end tab-content-->
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end profile-content-page-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- END PROFILE -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->

</html>
<script src="/js/pages/profile.js"></script>